# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/

# Environment files
.env
.env.*
!.env.example   # если хочешь пример файла

# Django stuff
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp

