{% extends 'default.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="get" action="{% url 'product_search' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="cityInput" class="form-label">Введите товары для поиска</label>
                    <input type="text"
                           class="form-control"
                           id="cityInput"
                           name="q"
                           value="{{ query|default:'' }}"
                           placeholder="Например: Сапоги"
                           required>
                </div>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}